<form >

  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" [(ngModel)]="userForm.username" name="uname" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" [(ngModel)]="userForm.password" name="password" required>

    <button type="submit" (click)="login()">Login</button>
    <button type="submit" (click)="back()" style="margin-left: 10px;">Register</button>
    <p style="color: red;" *ngIf="isWrong"> {{errormessage}} </p>
  </div>
</form>